<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title></title>
	</head>
	<body>
		<% if (currentUser) {%>
		<h1>
			WELCOME BACK <%= currentUser.first_name+" "+currentUser.last_name %>
		</h1>
		<% for (let message of messages) {%>
		<div style="border: 1px solid black; margin: 1rem; padding: 1rem">
			<p>text: <%= message.text%></p>
			<% if (currentUser.member_status) {%>
			<p>user: <%= message.user.username%></p>
			<p>date: <%= message.date%></p>
			<% } %> <% if (currentUser.admin_status) {%>
			<a href="<%= message.url%>/delate">delate</a>
			<% } %>
		</div>
		<% } %>
		<a href="/join-to-members">join to members</a>
		<a href="/create-new-message">create message</a>
		<a href="/log-out">LOG OUT</a>
		<% } else { %>
		<h1>please log in</h1>
		<form action="/log-in" method="POST">
			<label for="username">Username</label>
			<input name="username" placeholder="username" type="text" />
			<label for="password">Password</label>
			<input name="password" type="password" />
			<button>Log In</button>
		</form>
		<%}%>
	</body>
</html>
